inst/website
inst/docs/*.md
inst/docs/figure
vignettes/figure/*
*Rproj*
*.Rhistory*
^plant.Rcheck$
check/*
src/symbols.rds
.Rproj.user
src/*.o.tmp
src/*.o
src/*.so
src/*.dll
tmp*
.vscode
.idea
scrap.R
.RData
*.html
inst/doc
doc
Meta
