inst/website
inst/docs
vignettes/figure/*
*Rproj*
*.Rhistory*
^plant.Rcheck$
check/*
src/symbols.rds
.Rproj.user
src/*.o.tmp
src/*.o
src/*.so
src/*.dll
tmp*
.vscode
.idea
scrap.R
.RData

inst/doc
doc
Meta
*.RDS
examples_vignettes/data
katana_results/
katana/
examples_vignettes/*.png
