ref-equilibrium
times.w.default.rds
times.w.linear.rds

figure/
cache/

ebt_integration_error.Rmd
ebt_integration_error.md
equilibrium.Rmd
equilibrium.md
instability.Rmd
instability.md
landscape_manual.Rmd
landscape_manual.md
landscape_timing.Rmd
landscape_timing.md
light_env_interpolation.Rmd
light_env_interpolation.md
splitting_cohorts.Rmd
splitting_cohorts.md
