ref-equilibrium
times.w.default.rds
times.w.linear.rds

figure/
cache/

ebt_integration_error.Rmd
ebt_integration_error.md
equilibrium.Rmd
equilibrium.md
equilibrium_slow_approach.Rmd
equilibrium_slow_approach.md
instability.Rmd
instability.md
fitness_landscape_manual.Rmd
fitness_landscape_manual.md
fitness_landscape_timing.Rmd
fitness_landscape_timing.md
light_env_interpolation.Rmd
light_env_interpolation.md
splitting_cohorts.Rmd
splitting_cohorts.md
